::-webkit-scrollbar {
  width: 0.6vw;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3vw;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d69f !important;
  border-radius: 0.3vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 0.5px solid #e5e7c5 !important;
  background: #dddfb2;

  transition: 0.5s;
}
/* =====================} */
.podcasts {
  height: 140vh !important;
  overflow: visible !important;
  background: #bbbe65 !important;
  margin-bottom: 10vh;
  border-bottom-left-radius: 15vh;
}
.podHero {
  height: 80%;
  top: 22.9vh;
  flex-direction: column;

  /* background-color: bisque; */
}
.podcastsTitle {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #e74c3c; */
}
.podcastsTitle .title {
  width: 80%;
  color: #f2f2f2;
  font-size: 3vh;
}
.podcastsTitle p {
  width: 70%;
  text-align: left;
  color: #f2f2f2;
}
.podContent {
  /* */
  width: 100%;
  /* height: 110vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.podLists {
  width: 90%;
  height: 110vh;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  overflow-y: scroll;
  /* overflow-x: none; */
  border-bottom-left-radius: 12.5vw;
}
.podCard {
  position: relative;
  width: 42%;
  height: 49vh;
  margin-bottom: 2vh;
  box-shadow: -5px -5px 18px #999c53, 5px 5px 18px #dde077;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.podCard:hover {
  background: #bbbe65;
  box-shadow: inset -5px -5px 18px #999c53, inset 5px 5px 18px #dde077;
}
.podCard .content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: inherit;
  transition: 0.5s;
}

.podCard .content .imgBx {
  position: relative;
  width: 100%;
  height: 49vh;
  overflow: hidden;
  object-fit: contain;
}
.podCard .content .imgBx img {
  width: 100%;
  height: 100%;
  position: absolute;
  /* object-fit: ; */
}

.ctaIcons {
  width: 25%;
  height: 12%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5vh;
  background: linear-gradient(145deg, #1a6b69, #1f7f7d);
  box-shadow: 5px 5px 10px #202020;
  border-radius: 60vw;
  transition: 0.2s;
}

.ctaIcons h4 {
  font-size: 2vh;
  color: #fff;
  font-weight: 300;
  margin: 0;
}
.podCard:hover .ctaIcons {
  background: #398886;
  transition: 0.5s;
}
.podCard:hover .ctaIcons h4 {
  color: aliceblue;
}
.ctaIcons:hover h4 {
  display: none;
}
.ctaIcons:hover {
  width: 20%;
}

.cta_list {
  /* height: fit-content; */
  width: 80%;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  /* background-color: #dde077; */
}
.cta_icon {
  transform: translateY(40px);
  transition: 0.4s;
  opacity: 0;
}
.cta_icon a img {
  height: 3vh;
  /* font-size: 0.7vh; */
  color: aliceblue;
}
.ctaIcons:hover li {
  transform: translateY(0px);
  opacity: 1;
}

.podCard .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.podCard .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

/* ===== */
@media screen and (max-width: 480px) {
  .podcasts {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em !important;
  }
  .podHero {
    height: 80%;
    top: 22.9vh;
    flex-direction: column;
    /* background-color: #be65ba; */
  }

  .podLists {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    overflow-y: scroll;
    border-bottom-left-radius: 12.5vw;
  }

  .podCard {
    position: relative;
    width: 45vw;
    height: 20vh;
    /* margin-bottom: 0.2vh; */
    /* background-color: #be65ba; */
    box-shadow: -5px -5px 18px #999c53, 5px 5px 18px #dde077;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  .podCard .content .imgBx {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    object-fit: contain;
  }
  .ctaIcons {
    width: 35%;
    height: 12%;
    bottom: 2vh;
  }
  .ctaIcons:hover {
    width: 70%;
  }
  .cta_icon a img {
    height: 2vh;

    color: aliceblue;
  }
  .ctaIcons h4 {
    font-size: 1.4vh;
  }
}
