.projects {
  height: 140vh !important;
  overflow: visible !important;
  background-image: url("/images/blob-scene-haikei.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 10vh;
  /* background-position: center; */
}
.projHero {
  height: 80%;
  top: 18vh;
  flex-direction: column;
}
.projectsTitle {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectsTitle .title {
  width: 80%;
  color: #f2f2f2;
  font-size: 4.5vw;
}
.projectsTitle p {
  width: 70%;
  font-size: 1.2vw;
  text-align: left;
  color: #f2f2f2;
}
.projSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.cardList {
  height: 100%;
  width: 90%;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow-y: scroll;
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.mainCard {
  width: 27%;
  height: 65vh;
  margin-bottom: 4vh;
  position: relative;
  background: #fff;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  animation: drop-in 1200ms ease 500ms backwards;
}
.mainCard .img {
  height: 33vh;
  width: 100%;

  /* width: 100%; */
}
.mainCard .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}
.mainCard .content {
  height: 45%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainCard .content .title {
  font-size: 1.8vw;
  font-weight: 600;
}

.mainCard .content p {
  font-size: 1vw;
  text-align: justify;
}
.mainCard .content .btn {
  display: block;
  text-align: left;
  margin-bottom: 1em;
}
.mainCard .content .btn button {
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2vw;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}
.mainCard .content .btn button:hover {
  transform: scale(0.9);
}

/* ================ */
.projQuote {
  background-image: url(/images/v244_280.png) !important;
  background-color: #000000bb;
  display: flex;
  justify-content: space-evenly !important;
}
.projcards {
  border-radius: 60px;
  background-color: #bbbe65;
  font-size: 1vh;
  color: #353535;
  text-transform: lowercase;
  letter-spacing: -0.36px;
  justify-content: center;
  width: 27%;
  padding: 55px 34px;
}
/* ========================== */
/* =========================== */
@media screen and (max-width: 480px) {
  .projHero {
    height: 80%;
    flex-direction: column;
    padding: 0;
  }
  .projectsTitle {
    margin: 0;
    /* background-color: #e74c3c; */
  }
  .projectsTitle p {
    width: 90%;
    text-align: left;
    color: #f2f2f2;
  }

  .cardList {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 2em; */
    /* position: relative; */
    /* background-color: #e74c3c; */
  }
  .mainCard {
    height: 40vh;
    width: 90vw;
    margin-bottom: 1em;
    /* background: #fff; */
    border-radius: 5vh 5vh 5vh 5vh;
    background-color: #fffefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    animation: drop-in 1200ms ease 500ms backwards;
  }
  .mainCard .img {
    height: 100%;
    width: 60%;
  }
  .mainCard .content {
    height: 80%;
    width: 40%;
    padding: 0.2vh 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainCard .content p {
    height: 70%;
    font-size: 1.3vh;

    /* display: none; */
  }
  .mainCard .content .btn button {
    font-size: 1.4vh;
  }
}
